#profileImage {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #512DA8;
  font-size: 15px;
  color: #fff;
  float: left;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  margin-top: 13px;
  margin-left: 10px;
}

.search-text-box{
  width: 100%;
  padding: 4px 15px;
  outline: none;
  border:1px solid #bbb;
}