.icon{
    padding: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
    margin: auto 2px;
}

.icon:hover{
    border-color: #ffffff;
    background: #000000;
    color: white;
}

.check-box{
    height: 20px;
    width: 20px;
    float: right;
    margin: 10px 2px;
    border: 1px solid #cfcfcf;
    transition: all .3s ease;
}

.arrow{
    height: 20px;
    width: 12px;
    float: right;
    margin: 10px 2px;
    border: 1px solid #39c527;
    transform: rotate(33deg);
    border-top: 0;
    border-left: 0;
    transition: all .3s ease;
}

.user-list-box{
    width: 50%;
    border: 1px solid #dfdfdf;
    margin-top: 25px; 
    margin-left: 25px;
}

.user-list-box ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.user-list-box .name {
    padding-left: 0px;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
  }
.ripple:hover {
    background: #dfdfdf radial-gradient(circle, transparent 1%, #dfdfdf 1%) center/15000%;
    cursor: pointer;
}
.ripple:active {
    background-color: #efefef;
    background-size: 100%;
    transition: background 0s;
}

.btn-container{
    width: 95%;
    margin: 3% auto 0 auto;
}