#profileImage {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 15px;
    color: #fff;
    float: left;
    text-align: center;
    line-height: 25px;
    margin-top: 13px;
    margin-left: 10px;
}